.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 600px;

  

    .slide-section__image{

        @mixin atLarge {
            
            max-width: fit-content;
            padding-left: 0;
            padding-right: 0;
        }
    }
}