.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 600px;

  

    .slide-section__image{

        @mixin atLarge {
            
            width: fit-content;
        }
    }
}